*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.col{
    height: 80px;
    width: 80px;
    border: 1px solid black;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size:30px
}
.row{
    display: flex;
}
.grid{
    display: block
}